@import 'variables';

.footer{
    min-height: 50vh;
    background-color: $darkcolor;
    color: $lightcolor;
}





.company-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-wrapper{
    font-size: 2.2rem;
    padding-bottom: 50px;
}

.footer-copy-text{
    font-size: 2rem;
}